node_modules
.idea
.DS_Store
.env*
lambdas/.env*
lambdas/api/dist
lambdas/api/.env*
lambdas/bc-membership-importer/dist
lambdas/ingest/dist
lambdas/processing/dist
storage/athlete_duplicates.json
storage/athlete_manual_edits.json
storage/athlete_overrides.json
storage/athlete_races_results
storage/athlete_upgrade_dates.json
storage/athlete_upgrade_points
storage/athletes
storage/athletes-profiles
storage/athletes_lookup.json
storage/athletes_skill_categories.json
storage/base_athletes.json
storage/draft_events
storage/events
storage/events_results
storage/events_results_snapshots
storage/prod*
storage/raw_athlete_races_results
storage/raw_athlete_teams
storage/raw_athlete_upgrade_points
storage/raw_athletes
storage/raw_bc_memberships
storage/raw_ingestion_data
storage/raw_manual_import_data
storage/series
storage/series_results
storage/team_rosters
storage/teams.json
storage/views
storage/watcher_last_checks
dist/*
scripts